#loader-wrapper1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

/* lineas del circulo */
#loader1 {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #559107;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}

/* lineas del circulo */
#loader1:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #e97110;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

/* lineas del circulo */
#loader1:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

/* animation de las lineas del circulo */
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

/* animation de las lineas del circulo */
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

/* fondo que se abre y desaparece */
#loader-wrapper1 .loader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: black; */
    background-image: url(../img/i_am_groot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* #5f310b; */
    z-index: 1000;
}

/* fondo que desaparece hacia la izquierda */
#loader-wrapper1 .loader-section.section-left {
    left: 0;
}

/* fondo que desaparece hacia la derecha */
#loader-wrapper1 .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper1 .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper1 .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper1 .loader-section.section-right,
.loaded #loader-wrapper1 .loader-section.section-left {
    /* -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); */
    
    /* el primer tiempo define la duracion de la animacion, el segundo el retraso de la animacion*/
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    /* transition: all 0.7s 0.3s ease-out(0.645, 0.045, 0.355, 1.000); */
}

.loaded #loader1 {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper1 {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);

    /* -webkit-transition: all 0.3s 0.6s ease-out; */
    transition: all 0.3s 1s ease-out;
}

/************* Fin Loaded animacion de carga *****************/


/* JavaScript Turned Off */
.no-js #loader-wrapper1 {
    display: none;
}
.no-js h1 {
    color: #222222;
}
/* fin de no js */



/********* logo_groot ***********/
.logo_groot {
  width: 30px !important;
  height: 50px !important;
}

.logo_banner {
  width: 250px;
  height: 160px;
}

.logo_titulo {
    font-size: 30px !important;
    align-items: center;
    text-shadow: 1px 1px 2px #ffffff;
}

/* **************************** */

body {
    background-color: #000;
}

.logo-menu .logo {
    text-decoration: none !important;
}

/* =Navigation */
nav {
    /* display: none; */
    position: fixed;
    right: 20px;
    top: 50%;
    /* -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%); */
          transform: translateY(-50%);
    text-align: right;
    z-index: 100; }

    nav a {
      display: block;
      line-height: 25px;
      position: relative;
      padding-right: 20px;
      color: #ffffff;
      text-decoration: none; }

      nav a:hover .nav-label {
        /* -webkit-transform: translateX(0);
            -ms-transform: translateX(0); */
              transform: translateX(0);
        opacity: 1;
        visibility: visible; }
        
    nav .nav-dot {
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      right: 0;
      top: 50%;
      background-color: rgba(102, 255, 0, 0.959);
      border-radius: 100%;
      /* -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%); */
              transform: translateY(-50%);
      /* -webkit-transition: all 0.3s linear; */
              transition: all 0.3s linear; }

    nav .nav-label {
      display: block;
      opacity: 0.5;
      visibility: hidden;
      /* -webkit-transform: translateX(-10px);
          -ms-transform: translateX(-10px); */
              transform: translateX(-10px);
      /* -webkit-transition: all 0.2s cubic-bezier(.17, .67, .83, .67); */
              transition: all 0.2s cubic-bezier(.17, .67, .83, .67); }

    nav.is-dark a {
      color: #212121; }

    nav.is-dark .nav-dot {
      background-color: rgba(0, 0, 0, 0.5); }

    nav.is-light a {
      color: #ffffff; }

    nav.is-light .nav-dot {
      background-color: rgba(255, 255, 255, 0.5); }

    nav ul {
      margin: 0;
      padding: 0; }

    nav li {
      width: auto;
      list-style: none; }



    /* para hacer que se amplie la foto */

    /* =Header */
.header-container {
    text-align: right;  /*alinea el logo y titulo del banner*/
    color: #ffffff; 
    margin-right: 35px;}

    .header-container .wrapper {
      padding-top: 120px;
      z-index: 2;
      position: relative; }

    .header-container .bcg {
        transition: transform 8s ease-in;
        transform: scale(1.10);  /*tamaño final*/
        transform-origin: top center; }

    .header-container.is-loaded .bcg {
        transform: scale(1); }  /*tamaño inicial*/
    
    .header-container .title {
        text-shadow: 2px 2px 2px #ffffff;
    }
  
  .bcg {
    background: no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5; }

    .header-container .bcg {
      background-image: url(../img/groot_oservando.jpg);
      background-repeat: no-repeat;
      background-size: cover; }

/* tamaño del header de la imagen que amplia */
.fs {
    height: 105vh; } /*105*/

@media (max-width: 640px) {
    .fs {
        height: 60vh;
        width: 50vw;
    }
}
@media (max-width: 1024px) {
    .fs {
        height: 80vh;
        width: 70vw;
    }        
}